In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from scipy.stats import expon
from scipy import integrate

In [5]:
file = '../Data/Sesion4/MediaMovilData.csv'

In [6]:
data = pd.read_csv(file)

In [7]:
data

    Ventas
0     1250
1     1150
2      970
3     1100
4     1170
5     1080
6     1120
7     1230
8     1210
9     1050
10    1030
11     990
12    1160
13    1200
14    1180
15    1260
16    1230
17    1190